/* タイトルの中央配置 */
h1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0;
    /* 上下の余白を設定 */
    color: #555;
}

/* フォーム全体のスタイル */
form {
    max-width: 600px;
    margin: 20px auto;
    /* 中央寄せ */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* フォームのラベルと入力欄の間隔調整 */
form div {
    margin-bottom: 15px;
}

/* ラベルのスタイル */
form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* 入力欄のスタイル */
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* テキストエリアの高さ調整 */
form textarea {
    height: 100px;
    resize: vertical;
    /* ユーザーが高さを調整できるようにする */
}

/* ボタンのスタイル */
button[type="submit"]{
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px;
    height: 50px;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background-color: #333;
}

/* フラッシュメッセージのスタイル */
.flash-message {
    margin: 20px auto;
    max-width: 600px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    text-align: center;
}